/* this is header section style-1 */

.header-nav{

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-section-1{

    display: flex;
    gap: .50rem;
    align-items: center;
    
    
}
nav div img{
    width: 48px;
height: 56.008px;
}
.span-1{
    color: #FF5400;
    
}
.nav-first-word{
    font-size: 36px;
font-weight: 800;

}
/* this is header style-2 */
.nav-section-2{

}
.nav-section-2 ul{

    display: flex;


}
ul li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
   font-size: 18px;
   font-weight: 400;

    
}
ul li {
    list-style: none;
    margin-left: 44px;
    
}
/* this is main section style-1 */



.main-section-text{
    text-align: center;
 
    width: 70%;
}
.main-section-input{
    text-align: center;

padding: 16px;

gap: 24px;
width: 70%;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    
}
div input ,button{
  border-radius: 8px;
    /* background-color: #FFF; */
    width: 174px;
height: 52px;
text-align: center;
border-style: none;
margin: 5px;

}
.main-section-1{
    max-width: 1200px;
  
background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
margin: 0 auto;
}
.container{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 500px;

}
.span-2{
    background-color: #FF5400;
 color: #FFFFFF;

}
.main-section-header{
    color: #FFF;

font-family: Mulish;
font-size: 64px;

font-weight: 800;

}
.main-section-paragraph{
    color: #FFF;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; /
}
.fa-solid{
    margin: 10px;
}

/* this is section style-2 */

.main-section-2{
    max-width: 1200px;
    margin: 70px auto;
 
  
}
.container-2{
    display: flex;
    justify-content: space-between;
   
}
.section-2-contain{
width: 50%;
    flex-wrap: wrap;
}

.primary-text{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px
}
.section-2-header{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;

}
/* this is main section-4style> start */

.section-4{
    max-width: 1200px;
    margin: 0 auto;
}

.section-4-container{
    display: grid;

    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.span-6{
color: #FFFFFF;
    border-radius: 8px;
    background: #FF5400;
text-align: center;

font-weight: 800;

}
.section-4-contain{
    width:100%;
}

.section-4-input{
    width: 100%;
  border: 2px solid tomato;
  border-radius: 8px;


}
.li1{
    margin-top: 30px;
    margin-bottom: 30px;
}
.input-1{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
text-align: left;
margin-top:20px;
}
.span-3{
    color: white;
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
margin-top: 20px;

}
.section-4-img-5{
    width: 50%;
}


.img8{
    width: 100%;
}

.button-div{
  
    width:1200px;
 text-align: center;
    margin-bottom: 100px;

}
.btn-1{

    color: #FFF;
    border-radius: 8px;
    background: #FF5400;

font-family: Mulish;
font-size: 20px;
font-weight: 800;




}
/* this is footer style */


footer{
 
    max-width: 1200px;

margin: 100px auto;
    background: rgba(19, 19, 24, 0.05);
}

.footer-container{
    text-align: center;
}


.fa-brands{
    margin-left: 20px;
   font-size: 30px;
   margin-top: 20px;
}
.footertype{
  
    text-align: center;
}
hr{
   margin: 20px;
    background: rgba(19, 19, 24, 0.10);
}
small{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-weight: 300;

}
.footer-header{
    display: flex;
    justify-content: center;
}
/* footer finished */